<a href="https://colab.research.google.com/github/Aasutosh3/dis/blob/main/p4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Project Part # : CPSMA 3133 [Dr. Jacob's](https://github.com/nurfnick) Discrete Mathematics 

## Project Name Logic and Proofs

### Student's Name and ID Aashutosh Shah 219266

In [ ]:
finishmyproject = True
Cleanmycar = False
Domylaundry = True

 use "NOT" to find the truth value of $\lnot(m)$

In [ ]:
not(finishmyproject)

False

Lets use "`AND`" to find the truth value of 
$$n \land o$$

In [ ]:
(Cleanmycar)and(Domylaundry)

False

 use "`OR`" to find the truth value of 

1.   List item
2.   List item
# $$m \lor n$$

In [ ]:
(finishmyproject)or(Cleanmycar)

True

 some equivalent of $finishmyproject$ to $cleanmycar$

$$m\Rightarrow n$$

In [ ]:
def implies(n,m):
  return not(n) or (m)
implies(Cleanmycar,finishmyproject)

True

work for truth table for $not(finshmyproject NOT cleanmycar)equivalent to (cleanmycar OR domylaundry)$

$$\lnot(m\oplus n) \Rightarrow (n\lor o)$$:

In [ ]:
values = [True,False]
table = []

for o in values:
  for n in values:
    for m in values: 
      row =[]
      row.append(m)
      row.append(n)
      row.append(o)
      row.append(m ^ n)
      row.append(not(m ^ n))
      row.append(n or o)
      row.append(implies(not(m ^ n),n or o))
      table.append(row)
print(table)

[[True, True, True, False, True, True, True], [False, True, True, True, False, True, True], [True, False, True, True, False, True, True], [False, False, True, False, True, True, True], [True, True, False, False, True, True, True], [False, True, False, True, False, True, True], [True, False, False, True, False, False, True], [False, False, False, False, True, False, False]]

In [ ]:
import pandas as pd

df = pd.DataFrame(table,columns = ['o','n','m','$m\oplus n$','$\lnot(m\oplus n)$','$n\lor o$','$\lnot(m\oplus n) \Rightarrow (n\lor o)$'] )
df

       o      n  ...  $n\lor o$  $\lnot(m\oplus n) \Rightarrow (n\lor o)$
0   True   True  ...       True                                      True
1  False   True  ...       True                                      True
2   True  False  ...       True                                      True
3  False  False  ...       True                                      True
4   True   True  ...       True                                      True
5  False   True  ...       True                                      True
6   True  False  ...      False                                      True
7  False  False  ...      False                                     False

[8 rows x 7 columns]



```
# This is formatted as code
```

##Proof

lets use this equation.
$$y=2x+5$$

given equation have y intercept

$(0,5)$

 I will plot given equation in graph using plt.plot

In [ ]:
import matplotlib.pyplot as plt
import numpy as np
plt.plot(x,2*x+5)
plt.scatter(0,5, c='red',s = 40)
plt.scatter(10,0,c='red',s = 40)
plt.show()

 checking of (0,5) is the y-intercept of given equation $$y=2x+5$$

Using python check

In [ ]:
5==2*0+5

True

[link text](https://) got true value

# Lets try again by putting value of (5,15) in equation $$y=2x+5$$

In [ ]:
15==2*5+5

True

 Both value are true so (0,5) is the y intercept of given equation $$y=2x+5$$

using the contradction,

while we compare given equation $$y=2x+5$$ which have (0,5) as a y-intercept

with this equatuin $$y=mx=b$$

will going to have y- intercept of (0,b)